*,* :before, *:after{

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans";
    background-color:rgb(243, 240, 236) ;
}

.menu{
    background: brown;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 5px  0 10px  rgba(0, 0, 0,.6);



}

.logo{
    color: white;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;

}

.menu-items{
    display: flex;
    list-style: none;
    margin-right: 30px;

}

.menu-items li {

    border-radius: 3px;
    margin: 0  5px ;
}

.menu-items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}

.menu-items li:hover , li .active{

    background:rgb(235, 79, 100);
    transition: 0.5s;

}

.tbn-menu{
    margin-right: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    display: none;
   
}

ul.show{

    top:65px;
}

@media screen and (max-width:952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }

    .menu-items li a {
        font-size: 16px;
    }
}

@media screen and (max-width:858px){
.menu{
    height: 65px;
}
.tbn-menu{
    display: inline-flex;
}

.menu-items{
    position: fixed;
    width: 100vw;
    height: cal(100%-65px);
    background:#414141 ;
    top:-100vw;
    text-align:center ;
    transition: all 4s;
    flex-direction: column;

}
.menu-items li{
    margin: 20px 0px 0px 0px ;
    line-height: 30px;
}

.menu-items li {
    background:none;
}

.menu-items li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
    color: white;
}
.menu-items li a:hover {
    color: rgb(255, 255, 255);

}

.menu-items li:hover , li .active{

    background:#313030;


}

.logo{
    font-size: 25px;
    padding-left: 35px ;
}



}

.img1{

    display:block;
    margin:auto;
    margin-top: 160px;
    
    }